
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
<ion-content>
  <div class="intro-container">
    <div class="image-container top-left">
      <img src="assets/graduadoslibros.png" class="libro-image" alt="Imagen 1">
    </div>
    <img src="assets/mundolibro.png" class="intro-image" alt="Introducción">
    <h1  >Hola!</h1>
    <p>Ingresa aca</p>
    <ion-button class="ingresar-button" expand="block" color="light" shape="round" (click)="goToLogin()">Ingresar</ion-button>
    
    <div class="image-container bottom-right">
      <img src="assets/librosborrosos.png" class="librosborrosos" alt="Imagen 4">
    </div>
  </div>

</ion-content>